[Desktop Entry]
Name=Cosmic Comic
Comment=Read comic book archives (.cbz, .cbr) and ebooks (.epub)
Exec=cosmic-comic %f
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=com.tsingel.CosmicComic
MimeType=application/x-cbz;application/vnd.comicbook+zip;application/x-cbr;application/vnd.comicbook-rar;application/epub+zip;
Icon=com.tsingel.CosmicComic
Categories=COSMIC;Graphics;Viewer;
Keywords=Comic;Reader;CBZ;CBR;Manga;EPUB;Ebook;Book;
